* {
  font-size: 14px;
  /* font-family: DFKai-sb;; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ag-header-group-cell-label {
  justify-content: center;
  align-items: center;
}

.ag-cell {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.outer {
  display: flex;
  height: 100%;
}

.inner-col {
  width: 0;
  flex-grow: 1;
  height: 100%;
}

.factory-panel {
  display: flex;
  flex-direction: column;
}

.factory {
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
}

.factory-red {
  background-color: #ffdddd;
  border: 1px solid #ff8888;
}

.factory-green {
  background-color: #ddffdd;
  border: 1px solid #88ff88;
}

.factory-blue {
  background-color: #ddddff;
  border: 1px solid #8888ff;
}

.factory-bin {
  background-color: lightgray;
  border: 1px solid #888888;
}

.green-row {
  background-color: #ddffdd !important;
}

.red-row {
  background-color: #ffdddd !important;
}

.blue-row {
  background-color: #ddddff !important;
}

.ag-row {
  display: flex;
  align-items: center;
}

.titleInit {
  white-space: normal !important;
  line-height: 1.5 !important;
}

.title {
  justify-content: flex-end;
  text-align: right;
}

.title_2 {
  font-weight: bold;
  font-size: 20px;
  justify-content: left;
}

.title_3 {
  font-weight: bold;
  font-size: 18px;
  justify-content: center;
}

.title_4 {
  white-space: normal !important;
  line-height: 1.5 !important;
  justify-content: flex-start;
  margin-left: 30px;
}

.title_5 {
  white-space: normal !important;
  line-height: 1.5 !important;
  justify-content: flex-start;
  margin-left: 60px;
}

.title_6 {
  text-align: left;
  justify-content: flex-start;
}

.headerRow {
  display: block;
  position: relative;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 15px 20px 0 20px;
}

.headerRow:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 53px;
  top: -50px;
  left: 0;
  background: url('./public/colorbar.jpg');
  background-size: 100% 100%;
}

.logo img {
  display: inline-block;
  width: 200px;
  height: 50px;
  position: relative;
  vertical-align: middle;
  object-fit: contain;
  margin-right: 22px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #337ab7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 25px;
}

.button span:after {
  content: '\002B';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button .remove:after {
  content: '\002D';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.container span {
  font-size: 20px;
}

.container p {
  font-size: 20px;
  text-align: left;
}

.contentunderline {
  border-bottom-style: solid;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.col-md-7.offset-md-1 {
  text-align: left;
}

td, th {
  border: 3px solid black;
}

.col {
  flex-grow: 0 !important;
}

.out {
  border-top: 40px #D6D3D6 solid;
  /*上邊框寬度等於表格第一行行高*/
  width: 0px;
  /*讓容器寬度為0*/
  height: 0px;
  /*讓容器高度為0*/
  border-left: 80px #BDBABD solid;
  /*左邊框寬度等於表格第一行第一格寬度*/
  position: relative;
  /*讓裡面的兩個子容器絕對定位*/
}

.splitLine {
  background-image: linear-gradient( to top right, white 48%, black, white 52%);
}